<div class="container-fluid">

  <div class="row">
    <div class="list-group">
      <a href="<%= url_for(model: :CapturedQr, action: :new) %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Capture QR
      </a>
    </div>
  </div>

</div>
