# logs and symlinks
rholog.txt
rholog-*
sim-*

# build output
bin/
project/
rhosimulator/
public/api/generated/
.cbc


# Normally I do not exclude this. I am excluding it for security reasons
# as I have omitted the use of the pre-build "prepare" script
build.yml
